.extrabody-content {
    /* background-color: #2980b9; */
    position: fixed;
    width: 100%;
    height: 4em;
    z-index: 200;
    top: 0;
    left: 0;
}

.wy-nav-side {
    position: fixed;
    margin-top: 4em;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    color: #9b9b9b;
    background: #343131;
    z-index: 200;
}

.wy-side-nav-search {
    position: static;
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #2980b9;
    text-align: center;
    color: #fcfcfc;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 800px;
    margin-left: 0;
    margin-top: 4em;

}



.dropdown-checkbox {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content label {
    display: block;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.dropdown-checkbox .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-checkbox .dropbtn:hover {
    background-color: #3e8e41
}